<%= simple_form_for(@list) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.simple_fields_for :items do |i| %>
      <%= i.input :product_id, as: :select, collection: @products %>
      <%= i.input :quantity %>
    <% end %>

    <%= link_to '+', 'javascript:void(0);', class: 'add-new-product-test' %>
  </div>




  <table id="sampleTable" border="1">
    <tr>
      <td>Produto</td>
      <td>10</td>
      <input type="hidden" id="product_id_1" value="W3Schools">
    </tr>
    <tr>
      <td>Item 2</td>
      <td>20</td>
      <input type="hidden" id="product_id_1" value="W3Schools">
    </tr>
  </table>
  <br>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
