<%= simple_form_for(@list) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.simple_fields_for :items do |i| %>
      <div class="form-group">
        <label class="select optional" for="list_items_attributes_0_product_id">Produto</label>
        <%= i.input :product_id, as: :select, collection: @products, input_html: {class: 'form-control'}, label: false %>
      </div>

      <div class="form-group">
        <label for="price">Preço</label>
        <input type="text" id="price" value="0" name="price" class='form-control' readonly>
      </div>

      <div class="form-group">
        <label for="list_items_attributes_0_product_quantity">Quantidade</label>
        <%= i.input :quantity, input_html: { class: 'form-control' }, label: false %>
      </div>
    <% end %>

    <div class="form-group">
      <%= link_to 'Adicionar produto na lista', 'javascript:void(0);', class: 'add-new-product-test btn btn-info' %>
    </div>
  </div>

  <table id="sampleTable" class="table">
    <tr>
      <td>Código</td>
      <td>Nome</td>
      <td>Quantidade</td>
      <td>Preço</td>
      <td>Total</td>
    </tr>
  </table>

  <div class="form-group">
    <label for="is_bought">Pedido comprado
      <input type="checkbox" id="is_bought" name="list[is_bought]">
    </label>
  </div>

  <div class="form-group">
    <label for="list_total">Total</label>
    <input type="text" id="list_total" value="0" name="list[total]" class="form-control" readonly>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
