<%= simple_form_for(@list) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.simple_fields_for :items do |i| %>
      <%= i.input :product_id, as: :select, collection: @products %>
      <%= i.input :quantity %>
    <% end %>

    <%= link_to '+', 'javascript:void(0);', class: 'add-new-product-test' %>
  </div>

  <table id="sampleTable" border="1">
    <tr>
      <td>Produto id</td>
      <td>Nome produto</td>
      <td>Quantidade</td>
      <td>preço</td>
      <td>Total</td>
    </tr>
  </table>
  <br>

  <input type="checkbox" id="is_bought" name="list[is_bought]">
  <label for="horns">Fechar pedido?</label>

  <br>
  Total:<br>
  <input type="text" id="list_total" value="0" name="list[total]">

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
