<div class="row">
  <div class="col-md-12">
    <p id="notice"><%= notice %></p>
  </div>

  <div class="col-md-12">
    <h1>Listagem de Produtos</h1>
  </div>

  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Preço</th>
          <th colspan="3">Ações</th>
        </tr>
      </thead>

      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td scope="row"><%= product.name %></td>
            <td><%= product.price %></td>
            <td rowspan="3">
              <%= link_to 'Editar', edit_product_path(product), class: 'btn btn-info' %>
              <%= link_to 'Excluir', product, method: :delete, data: { confirm: 'Tem certeza?' }, class: 'btn btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-md-12">
    <%= link_to 'Novo produto', new_product_path, class: 'btn btn-success' %>
  </div>
</div>
